# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sinas\OneDrive\Desktop\university\projects\workshop\time_converter\.idea/dataSources/
/dataSources.local.xml
